#customer-sec{
    margin-top: 64px;
    display: flex;
    justify-content: center;
    .row{
        justify-content: space-between;
    }
    .customer-about{
        h3{
            font-family: 'Gothic A1';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 48px;
            letter-spacing: 0.25px;
            color: rgba(0, 0, 0, 0.87);
        }
        p{
            margin-top: 48px;
            font-family: 'Gothic A1';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: 0.15px;
            color: rgba(0, 0, 0, 0.6);      
        }
    }
    // .youtube-video{
    //     iframe{
    //         display: none;
    //     }
    // }
}