#new-business{
    margin-top: 96px;
    display: flex;
    justify-content: center;
    background-image: url(../image/kob-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 88px 0;
    h3{
        font-family: 'Gothic A1';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 56px;
        color: #FFFFFF;
    }
    .new-items{
        margin-top: 52px;
        width: 760px;
        h4{
            font-family: 'Gothic A1';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            color: #FFFFFF;
        }
        p{
            font-family: 'Gothic A1';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 32px;
            color: #FFFFFF;
        }
    }
    button{
        border: none;
        margin-top: 48px;
        padding: 16px 38.2656px 16px 38.7344px;
        background: #058D66;
        border-radius: 6px;
        font-family: 'Gothic A1';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: #FFFFFF;
    }
}